[Unit]
Description=Translator for /r/habs
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/habstranslate
ExecStart=/usr/bin/python3 -m habstranslate
Restart=always

[Install]
WantedBy=multi-user.target
