[Unit]
Description=Translator for /r/habs
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
User=root
Group=root
WorkingDirectory=/root/habstranslate
ExecStart=/usr/bin/python3 -m habstranslate
